/* .header {
  background-color: red;
}

.Container {
  height: 500px;
}
.Leftside {
  background-color: blue;
  float: left;
  width: 300px;
  height: auto;
}

.Contents {
  background-color: green;
  height: auto;
}

.footer {
  background-color: goldenrod;
} */
